.planning-poker-home {
  text-align: center;
  margin: 32px;
}

.planning-poker-logo {
  height: 100px;
}

.participants-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.participant {
  margin: 0.5em;
  text-align: center;
}

.participant-vote {
  margin: 0.5em;
  width: 150px;
  position: relative;
}

.participant-vote-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.options-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.option {
  margin: 0.5em;
}

.option-vote {
  width: 75px;
  margin: 0.5em;
  position: relative;
}

.option-vote-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.option.selected .MuiPaper-root {
  background-color: #e13e8a;
  transition: background-color 0.5s;
}

.info-row {
  text-align: center;
  margin-top: 16px;
}

.actions-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.header-row {
  display: flex;
  margin: 16px;
  justify-content: flex-end;
}

.MuiTypography-button {
  text-transform: none !important;
}

.room-action-button {
  text-transform: none !important;
  margin-left: 16px !important;
}

.room-action-button svg {
  font-size: 20px;
}

.room-action-button .room-action-edit {
  display: none;
}

.room-action-button:hover .room-action-edit {
  display: initial;
}

.room-action-button:hover .room-action-icon {
  display: none;
}

.options-dialog-actions {
  justify-content: flex-end;
}

.spectator-chip {
  margin-left: 6px;
}
